:root {
  --primary-color: #003476;
  --secundary-color: #b4d2f7;
  --header-size: 4rem;
  --font: 1.8rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
header {
  width: 100%;
  height: 15vh;
  background-color: var(--primary-color);
}
.main-nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 10px;
  background-color: #13a4a4;
  text-align: center;
}
.main-nav li {
  display: inline-block;
  font-size: 10px;
  margin: 10px 0;
  padding-left: 10px;
  padding-right: 10px;
}
.main-nav__item {
  display: inline-block;
}
.main-nav__item a {
  color: white;
  padding: 5;
  border-radius: 2px;
  text-decoration: none;
}
.main-nav__item a:hover {
  color: blue;
}
.main-nav__item a:active {
  color: red;
}
.main-nav__item a::after {
  content: " | ";
}
main {
  width: 100vw;
  height: 70vh;
  font-size: var(--font);
  text-align: center;
}
.main-nav {
  margin-top: 10px;
}

h1 {
  color: var(--primary-color);
  font-size: var(--header-size);
}
h2 {
  color: var(--primary-color);
}
.parent {
  border: 2px black dotted;
  display: inline-block;
}
.box {
  display: inline-block;
  background-color: red;
  width: 100px;
  height: 100px;
}
#uno {
  background-color: black;
  height: 100%;
}
#dos {
}
.container1 {
  font-display: flex;
  flex-wrap: wrap;
}
.c1,
.c2,
.c3,
.c4,
.c5,
.c6 {
  width: 100px;
  min-width: 150px;
  height: 150px;
}
.c1 {
  background-color: red;
}
.c2 {
  background-color: red;
}
.c3 {
  background-color: red;
}
.c4 {
  background-color: red;
}
.c5 {
  background-color: red;
}
.c6 {
  background-color: red;
}
footer {
  width: 100vw;
  height: 15vh;
  background-color: var(--secundary-color);
}
