* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  border: 5px solid blue;
  background-color: aquamarine;
  width: 100%;
  padding: 0;
  font-family: verdana;
}
header {
  background-color: antiquewhite;
  color: white;
}
.logo {
  background-color: aqua;
  color: black;
}
header h1 {
  background-color: black;
  display: flex;
  justify-content: center;
}
header h3 {
  background-color: black;
  display: flex;
  justify-content: center;
}
nav {
  background-color: blue;
  display: flex;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.2rem;
  border-radius: 2px;
  font-size: 0.8rem;
}

nav li {
  display: inline-block;
}
main {
  background-color: blueviolet;
}

footer {
  background-color: brown;
  height: 100px;
}
