* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 90px 20px 0;
}

header {
  background-color: #0769e9;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 2.5rem;
  line-height: 80px;
}

.nav-menu {
  display: flex;
  margin-right: 3rem;
  list-style: none;
}
.nav-menu-item {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 0.5rem;
  line-height: 5rem;
  width: max-content;
}
